html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

#header {
    height: 50px;
    background-color: #222222;
    padding: 0;
    margin: 0;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding: 4px;
    box-shadow: 0 4px 10px black;
    z-index: 2;
}

#main {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
#sidebar {
    width: 20vw;
    height: 100%;
    background-color: #111111;
}
#bar-view {
    width: 80vw;
    height: 100%;
    background-color: black;
    box-shadow: -4px 0 10px black;
}

#controls {
    width: 100vw;
    height: 50px;
    background-color: #222222;
    box-shadow: 0 -4px 10px black;
    z-index: 2;
}

.tab-button {
    width: 100%;
    font-size: 40px;
}